/README.md
/sql
/webapp
/submit
/tests
/misc-tools/simulate_contest.in
/misc-tools/scoreboard_xml2csv.xslt
/misc-tools/save_sources2file.in
/misc-tools/restore_sources2db.in
/misc-tools/multi_rejudge.in
/misc-tools/.htaccess
/misc-tools/balloons.in
/misc-tools/judging_statistics.in
/misc-tools/create_accounts.in
/misc-tools/event_xml2csv.xslt
/misc-tools/compare-cds.sh
/misc-tools/import-contest.sh
/symfony.lock
/CONTRIBUTING.md
/composer.lock
/composer.json
/CODINGSTYLE.md
/gitlab
/doc
/etc/nginx-conf-inner.in
/etc/nginx-conf.in
/etc/apache.conf.in
/etc/.htaccess
/etc/gensymfonysecret
/etc/genrestapicredentials
/etc/genadminpassword
/etc/gen_all_secrets
/etc/domserver-static.php.in
/etc/domserver-config.php
/etc/domjudge-fpm.conf.in
/etc/import-forwardfeed.yaml
/etc/submit-config.h.in
/etc/gendbpasswords
/import
/docker-compose.yml
/lib/vendor
/lib/.htaccess
/lib/use_db.php
/lib/lib.dbconfig.php
/lib/lib.database.php
/lib/init.php
/aclocal.m4
/configure
/etc/config.h.in
